<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="WcR2.Network" type="WzComparerR2.Network.NetworkConfig, WzComparerR2.Network, Version=2.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.MapRender" type="WzComparerR2.MapRender.Config.MapRenderConfig, WzComparerR2.MapRender, Version=2.1.5.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2" type="WzComparerR2.Config.WcR2Config, WzComparerR2, Version=2.1.5.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.CharaSim" type="WzComparerR2.Config.CharaSimConfig, WzComparerR2, Version=2.1.5.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="WcR2.ImageHandler" type="WzComparerR2.Config.ImageHandlerConfig, WzComparerR2, Version=2.1.5.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <WcR2.Network>
        <logLevel value="Info" />
        <nickName value="No Name #4341" />
        <wcID value="bc3cd195-c251-4362-9b36-7e49028af94d" />
        <servers value=":2100;:2101;:2102;:2103;:2104" />
    </WcR2.Network>
    <WcR2.MapRender>
        <volume value="1" />
        <muteOnLeaveFocus value="true" />
        <clipMapRegion value="true" />
        <defaultFontIndex value="0" />
        <useD2DRenderer value="false" />
        <topBar.Visible value="true" />
        <minimap.CameraRegionVisible value="true" />
        <worldMap.UseImageNameAsInfoName value="true" />
    </WcR2.MapRender>
    <WcR2.CharaSim>
        <selectedFontIndex value="0" />
        <autoQuickView value="false" />
        <skill showID="true" showProperties="true" showDelay="true" showReqSkill="true"
            defaultLevel="LevelMax" intervalLevel="10" />
        <gear showID="true" showWeaponSpeed="true" showLevelOrSealed="true"
            showMedalTag="false" />
        <item showID="true" linkRecipeInfo="true" linkRecipeItem="true"
            showNickTag="false" />
        <recipe showID="true" />
        <mob showID="true" />
        <npc showID="true" />
    </WcR2.CharaSim>
    <WcR2>
        <mainStyle value="Office2007VistaGlass" />
        <mainStyleColor value="DimGray" />
        <sortWzOnOpened value="true" />
        <autoDetectExtFiles value="true" />
        <recentDocuments>
            <clear />
            <add hash="71e4f53e-001e-4a68-9b63-7a057e13c13a" value="F:\Maple\Base.wz" />
            <add hash="0fa7f332-40df-48cc-8b09-65a2afda0aad" value="F:\Maple\Data.wz" />
        </recentDocuments>
        <comparerOutputFolder value="" />
        <sortWzByImgID value="true" />
        <wzEncoding value="0" />
        <imgCheckDisabled value="false" />
        <patcherSettings>
            <clear />
            <add serverName="KMST" urlFormat="http://maplestory.dn.nexoncdn.co.kr/PatchT/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="KMS" urlFormat="http://maplestory.dn.nexoncdn.co.kr/Patch/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="JMS" urlFormat="http://webdown2.nexon.co.jp/maple/patch/patchdir/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="GMS" urlFormat="http://download2.nexon.net/Game/MapleStory/patch/patchdir/{1:d5}/CustomPatch{0}to{1}.exe"
                version0="0" version1="0" />
            <add serverName="TMS" urlFormat="http://tw.cdnpatch.maplestory.beanfun.com/maplestory/patch/patchdir/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="MSEA" urlFormat="http://patch.maplesea.com/sea/patch/patchdir/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
            <add serverName="CMS" urlFormat="http://mxd.clientdown.sdo.com/maplestory/patch/patchdir/{1:d5}/{0:d5}to{1:d5}.patch"
                version0="0" version1="0" />
        </patcherSettings>
    </WcR2>
    <WcR2.ImageHandler>
        <backgroundColor value="White" />
        <backgroundType value="Transparent" />
        <minMixedAlpha value="0" />
        <minDelay value="30" />
        <autoSavePictureFolder value="" />
        <autoSaveEnabled value="false" />
        <savePngFramesEnabled value="false" />
        <gifEncoder value="0" />
        <mosaicInfo color0="" color1="" blockSize="0" />
        <imageNameMethod value="Default" />
        <paletteOptimized value="false" />
    </WcR2.ImageHandler>
</configuration>